body {
  font-family: inter;
  margin: 0;
}

button {
  cursor: pointer;
}

.header {
  display: flex;
  justify-content: center;
  border-style: solid;
  border: none;
  background-color: #043873;
  padding-block: 20px;
}

.header-container,
.hero-section-container,
.hero-section2-container,
.hero-section3-container,
.hero-section4-container,
.hero-section5-container,
.hero-section6-container,
.hero-section7-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  column-gap: 20px;
  flex-direction: row;
  max-width: 1170px;
  width: 100%;
}

.WhiteSpace-logo {
  height: 32px;
  width: 189px;
}
.header-buttons {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: px;
}

.white-small-buttons {
  display: flex;
}

.arrow-image {
  background-color: #043873;
  border: none;
  height: 20px;
  padding-right: 10px;
}

/* .products-button,
.solutions-button,
.resources-button { */
.header-buttons {
  position: relative;
  display: flex;
  flex-direction: row;
  column-gap: 5px;
  background-color: #043873;
  color: white;
  border: none;
  align-items: center;
}

.drop-down-list {
  display: none;
  position: absolute;
  top: 35px;
  left: 45px;
  background-color: grey;
  border-radius: 5px;
  padding: 5px;
  flex-direction: column;
  row-gap: 5px;
}

.drop-down-list.show {
  display: block;
}

.drop-down {
  padding: 5px;
}

.login-button {
  background-color: #ffe492;
  font-weight: 500;
  size: 18px;
  border: none;
  padding-inline: 25px;
  padding-block: 16px;
  border-radius: 8px;
  margin-left: 8px;
}

.try-whitespace-button {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #4f9cf9;
  color: white;
  padding-inline: 15px;
  padding-block: 16px;
  border-radius: 8px;
  border: none;
  margin-left: 10px;
}

.try-whitespace-button2 {
  display: flex;
  align-items: center;
  background-color: #4f9cf9;
  color: white;
  padding-inline: 15px;
  padding-block: 16px;
  border-radius: 8px;
  border: none;
  margin-left: 0px;
}

.hero-section {
  background-image: url("./Images/BACKGROUND1.png");
  background-size: 1690px;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  justify-content: center;
  border-style: solid;
  border: none;
  background-color: #043873;
  height: 720px;
}

.right-arrow {
  padding-left: 5px;
  height: 12px;
}

.container-image {
  background-color: #c4defd;
  width: 824px;
  height: 450px;
}

.container-2-text1 {
  font-weight: 600;
  font-size: small;
  color: #ffffff;
  font-style: bold;
  font-size: 50px;
  letter-spacing: 0px;
  line-height: 100%;
  width: 536px;
  margin-block: 10px;
}

.container-2-text2 {
  font-size: small;
  color: #ffffff;
  width: 500px;
  padding-bottom: 20px;
  line-height: 25px;
}

.container-2-left-section {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 280px;
  width: 536px;
}

/* .hero-section2 {
        display: flex;
        justify-content: center;
        position: relative;
        height: 700px;a
      } */

.hero-section2-left-section {
  display: flex;
  flex-direction: column;
  row-gap: 0px;
  align-items: baseline;
}

.container2-image {
  background-color: #c4defd;
  background-position: center;
  width: 556px;
  height: 450px;
}
/*
      .hero-section2-container,
      .hero-section4-container {
        position: relative;
        display: flex;
        justify-content: space-between;
        flex-direction: row;
        align-items: center;
        max-width: 1170px;
        width: 100%;
      } */

.container3-text {
  position: relative;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20px;
  width: 0px;
}

.container3-text2 {
  width: 503px;
  line-height: 24px;
  font-size: small;
  margin: 0;
}

.get-started-button {
  display: flex;
  align-items: center;
  z-index: 1;
  background-color: #4f9cf9;
  color: white;
  padding-block: 16px;
  border: none;
  margin-top: 51px;
  padding-inline: 38px;
  border-radius: 6px;
  font-size: 14px;
}

.yellow-line-image {
  z-index: -1;
  height: 48px;
  width: 460px;
  position: absolute;
  top: 77px;
  left: 0;
}

.login-try-whitespace-buttons {
  display: flex;
}

.hero-section2-background {
  position: absolute;
  left: 0;
  top: 250px;
  width: 350px;
}

.hero-section3,
.hero-section2,
.hero-section5,
.hero-section6,
.hero-section8,
.hero-section9 {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 500px;
}
.hero-section8 {
  padding: 0 80px;
}
.tns-outer {
  width: 100%;
}

.tns-nav {
  display: flex;
  justify-content: center;
  margin-top: 40px;
  gap: 10px;
}

.tns-nav button {
  background-color: grey;
  border-radius: 50%;
  width: 12px;
  height: 12px;
  border: none;
}
.tns-nav button.tns-nav-active,
.tns-nav button:hover {
  background-color: #4f9cf9;
}

.container-img3 {
  transform: rotate(90deg);
  height: 490px;
  object-fit: contain;
  width: 50%;
}

.herosection-3-right-section,
.herosection-4-right-section {
  display: flex;
  flex-direction: column;
  row-gap: 45px;
  width: 50%;
}

.work-together-text,
.customise-it-text {
  position: relative;
  font-weight: bold;
  font-size: 46px;
  width: 326px;
}
.try-it-now-button {
  display: flex;
  align-items: center;
  column-gap: 5px;
  background-color: #4f9cf9;
  color: white;
  padding-block: 15px;
  border: none;
  margin: 0;
  padding-inline: 30px;
  border-radius: 6px;
  font-size: 14px;
}

.herosection-2-textbox,
.herosection-3-textbox,
.herosection-4-textbox,
.hero-section5-textbox {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.with-whitespace-text {
  font-size: small;
  line-height: 20px;
  width: 495px;
}

.yellow-line-image2 {
  z-index: -1;
  height: 28px;
  position: absolute;
  top: 28px;
  left: 128px;
  width: 298px;
}

.hero-section4 {
  background-color: #043873;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 700px;
  margin-top: 80px;
}

.container4-text {
  position: relative;
  color: #ffffff;
  z-index: 1;
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 20px;
}

.container4-text2 {
  color: #ffffff;
  width: 503px;
  line-height: 24px;
  font-size: small;
  padding-bottom: 36px;
}

.yellow-line-image3 {
  z-index: -1;
  height: 33px;
  position: absolute;
  bottom: 0;
  right: 8px;
}

.Lets-Go-button {
  display: flex;
  align-items: center;
  background-color: #4f9cf9;
  color: white;
  padding-block: 16px;
  border: none;
  margin: 0;
  padding-inline: 31px;
  border-radius: 6px;
  font-size: 14px;
}

.container4-image {
  background-color: #c4defd;
  background-position: center;
  width: 556px;
  height: 450px;
}

.yellow-line-image4 {
  z-index: -1;
  height: 40px;
  position: absolute;
  right: 0;
  top: 75px;
  left: -8px;
}

.plan-header-section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 16px;
}

.plan-header-text1 {
  position: relative;
  font-weight: bold;
  font-size: 46px;
  width: 380px;
}

.plan-header-text2 {
  font-size: small;
  line-height: 20px;
  width: 90%;
}

.plan-header-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin-top: 140px;
}

.plan-section {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  height: 700px;
}

.plan-section-container {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 20px;
  flex-direction: row;
  max-width: 1170px;
  width: 100%;
}

.price-card {
  border: 1px solid #ffe492;
  border-radius: 10px;
  width: 288px;
  height: 422px;
  padding: 40px;
}

.highlight {
  background-color: #043873;
  color: white;
  width: 290px;
  height: 522px;
  border-radius: 10px;
  padding: 40px;
}

.card-container {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
}

.card-title {
  font-style: 100;
  font-weight: 600;
  font-size: medium;
}

.card-price {
  font-size: 27px;
  font-weight: bold;
}

.highlight .card-price {
  font-size: 27px;
  font-weight: bold;
  color: #ffe492;
}

.card-subtitle {
  font-weight: 500;
}
.yellow-line-image5 {
  position: absolute;
  z-index: -1;
  width: 287px;
  height: 50px;
  left: 181px;
  top: 9px;
}

.card-feature {
  display: flex;
  align-items: center;
  column-gap: 13px;
  font-size: 12px;
  font-weight: 400;
  line-height: 18px;
}

.card-feature-container {
  display: flex;
  flex-direction: column;
}

.icons-img {
  height: 15px;
}

.card-button {
  padding-block: 10px;
  background-color: white;
  padding-inline: 25px;
  border: 1px solid #ffe492;
  border-radius: 7px;
}

.personal-card-container {
  display: flex;
  flex-direction: column;
  row-gap: 17px;
}

.personal-card-button {
  background-color: #4f9cf9;
  color: white;
  padding-block: 12px;
  border: none;
  padding-inline: 30px;
  border-radius: 6px;
  font-size: 12px;
}

.your-work-section {
  height: 516px;
  position: relative;
  color: white;
  background-color: #043873;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  z-index: 0;
}

.your-work-section-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  row-gap: 16px;
  max-width: 865px;
  width: 100%;
}

.your-work-text {
  position: relative;
  font-size: 57px;
  margin: 0;
}

.access-text {
  font-size: 13px;
  width: 806px;
}

.try-taskey-button,
.read-more-button,
.try-taskey-button {
  display: flex;
  align-items: center;
  background-color: #4f9cf9;
  color: white;
  padding-block: 16px;
  border: none;
  margin: 0;
  padding-inline: 31px;
  border-radius: 6px;
  font-size: 13px;
  margin-top: 35px;
  column-gap: 5px;
}

.background-your-section {
  position: absolute;
  left: 0;
  bottom: -27px;
  height: 700px;
}

.blue-line {
  position: absolute;
  bottom: 0;
  height: 16px;
  right: -13px;
  z-index: -1;
  width: 219px;
}

.your-data-text,
.sponsor-text {
  position: relative;
  font-weight: bold;
  font-size: 48px;
}

.the-app-text {
  font-size: small;
  line-height: 20px;
}

.Section5-img {
  height: 250px;
}

.yellow-line-image6 {
  position: absolute;
  z-index: -1;
  width: 292px;
  height: 54px;
  left: 140px;
  top: 12px;
}

.our-sponsor-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  row-gap: 50px;
  margin-bottom: 100px;
}

.sponsor-images {
  row-gap: 10px;
  display: flex;
  column-gap: 139px;
  height: 50px;
}

.yellow-line-image7 {
  position: absolute;
  z-index: -1;
  width: 300px;
  height: 68px;
  left: 97px;
}

.hero-section6 {
  display: flex;
  background-color: #043873;
  height: 600px;
  position: relative;
  background-image: url("Images/Background3.png");
  background-repeat: no-repeat;
  background-size: contain;
}

.apps-image {
  height: 380px;
  padding-top: 26px;
}

.work-with-text {
  color: white;
  font-weight: bold;
  font-size: 58px;
  margin-bottom: 20px;
}

.white-space-terms {
  margin-bottom: 20px;
  color: white;
  font-size: 13px;
  line-height: 21px;
}

.text-button-container {
  width: 50%;
}

.section7-column-gap {
  column-gap: 20px;
  max-width: 1100px;
}

.clients-text {
  display: flex;
  justify-content: center;
  margin-top: 110px;
  font-weight: bold;
  font-size: 58px;
  position: relative;
}

.client-card {
  color: white;
  padding-inline: 16px;
  padding-block: 56px;
  background-color: #4f9cf9;
  padding-block: 56px;
  box-shadow: 10px 0px 36px -25px;
  border-radius: 10px;
}

.highlight-client-card.client-card {
  background-color: white;
  color: black;
  padding-inline: 16px;
  padding-block: 56px;
  box-shadow: 10px 0px 36px -25px;
  border-radius: 10px;
}

.dots {
  display: flex;
  justify-content: center;
  column-gap: 10px;
  height: 9px;
}

.clients-yellow-arrow {
  position: absolute;
  z-index: -1;
  right: 340px;
  height: 72px;
  width: 272px;
  top: -11px;
}

.card1-img,
.card3-img,
.card2-img {
  height: 50px;
}

.card2,
.card3 {
  color: white;
}

.card1-text {
  border-bottom: solid;
  width: 331px;
  font-size: 14px;
  padding-bottom: 20px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  padding-bottom: 30px;
}

/* .card1-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 17px;
    flex-wrap: wrap;
} */

.oberson-name {
  margin-bottom: 0x;
}

.oberon-bottom-section {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 32px;
}

.oberon-image {
  height: 68px;
}

.oberon-title {
  font-size: 12px;
  width: 190px;
}

.dot1,
.dot2,
.dot3 {
  cursor: pointer;
}

.try-whitespace-seciton {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.hero-section9 {
  background-color: #043873;
  margin-top: 95px;
}

.try-whitespace-text,
.today-text {
  color: white;
  font-size: 58px;
  font-weight: 700;
  margin: 0;
  margin-bottom: 11px;
}

.get-started-text,
.add-your-team-text {
  color: white;
  margin: 0;
}
.on-a-team {
  color: white;
  margin-top: 15px;
}

.apple-img,
.windows-img,
.android-img {
  height: 45px;
}

.section7-imgs {
  display: flex;
  flex-direction: row;
  column-gap: 35px;
}

.client-card svg path {
  fill: white;
}

.highlight-client-card svg path {
  fill: #043873;
}

.new-dropdown button {
  color: white;
}

.header-icon {
  display: none;
}

@media screen and (max-width: 500px) {
  .header-icon {
    display: block;
  }
}

@media (max-width: 500px) {
  .hero-section-mobile {
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .header-buttons {
    display: none;
  }
}

@media screen and (max-width: 500px) {
  .hero-section-container {
    flex-direction: column;
  }
}
